# Data Structure

#Theory Questions

# 1. What are data structures, and why are they important?
   > Data Structures of oraganizing and storing data so that it can be accessed and manipulated effeciently.Effciency, easy to access, better problem solving, scalability and code clarity.

# 2. Explain the difference between mutable and immutable data types with examples.
   >. Mutable data types is that where we can change or arrange the data. Example: list, set, Bytearray.  
   
   >. Immutable data type is we can not change the change or arrage the data. Example: stringe, tuples.

# 3. What are the main differences between lists and tuples in Python?
   > . A list is mutable collection in python, written with square bracket[],  allowing the change like adding, removing, or modifying elements.

   > . A tuples is an immutable, written with parentheses(), meaning its element cannot be change after creation, tuples are faster and use for fix data.

# 4. Describe how dictionaries store data.
  > Dictionaries store data which store the data in the form of key value pair and the key are unique, value can be anything list, stringe, number etc.

# 5. Why might you use a set instead of a list in Python?
   > Set and list both are mutable in python  so change can be possible we see set insted of list because set are unorder callection of unique elenemt, and repeated value get remove in set.

# 6. What is a string in Python, and how is it different from a list?
   > String is a variable in python, it print character value and it is a immutable where else list is a mutable.

# 7. How do tuples ensure data integrity in Python?
   > Tuples is immutable it mean intergrity data will not change and provied a ensure the data integrity in python.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
   > A hash table store data using a key and a hash function for fast access. In python, dictionaries are using hash tables.

# 9. Can lists contain different data types in Python?
   > Yes, a list can have different data types like numbers, string, and even other list together.

# 10. Explain why strings are immutable in Python.
   > srings are immutable so that they are safe to use and cannot be changed by mistake, which also makes them faster in some operations.

# 11. What advantages do dictionaries offer over lists for certain tasks?
  > Dictionaries allow faster seachring by key, store data with labels (keys), and avoid through the whole list.

# 12. Describe a scenario where using a tuple would be preferable over a list.
   > A tuble is btter when we need fixed data that should not change, like storing days of week or fixed coordinates.

# 13. How do sets handle duplicate values in Python?
   > Sets automatically removes duplicate value and keep only unique elements.

# 14. How does the “in” keyword work differently for lists and dictionaries?
  >.In a list, "in" checks if a value exists.
   
  >.In a dictonary, "in" checks if a key exixts, not the value.

# 15.Can you modify the elements of a tuple? Explain why or why not.
   >Np, we cannot modify a tuple because it is immutable, meaning it cannot be change after creation.

# 16. What is a nested dictionary, and give an example of its use case?
  > A nested dictionary is a dictionary inside another dictionary. It is useful for storing related data in a structured way, like studend details grouped bt ID.

# 17. Describe the time complexity of accessing elements in a dictionary.
   > Accessing elements in a dictionary is generally o(1) time, meaning it is very fast because it uses hashing.

# 18. In what situations are lists preferred over dictionaries?
  > List are preferred when data is ordered, when we don't need key-based access, or when the data may have duplicates.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   > Dictionaries are unordered because their elements are not stored in a fixed sequence. This means we cannot access items by position like in a list; we must use key.

# 20.Explain the difference between a list and a dictionary in terms of data retrieval?
   > .In a list, we get data by its position (index).

   > .In a dictionary, we get data by its key, which is usaually faster.

#Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "KOMAL"
print(my_name)

KOMAL

2. Write a code to find the length of the string "Hello World".

In [ ]:
str = "Hello World"
print(len(str))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [56]:
# first 3 characters
text = "Python Programming"
first_three = text[:3]
print("first 3 characters:", first_three)

first 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
str = "hello"
print(str.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# changing apple into orange.
str = "I like apple"
print(str.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# list with number 1 to 5.
my_list = list(range(1, 6))
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
# Append method into list form:

my_list = [1,2,3,4]
my_list.append(10)
print("My_list:", my_list)

My_list: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
# Remove number 3 from list:

my_list = [1,2,3,4,5]
my_list.remove(3)
print("My list:", my_list)

My list: [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Methoded of access element:

my_list = ['a','b','c','d']
print(my_list[2])

c

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
#Reverse
my_list = [10,20,30,40,50]
my_list.reverse()
print(" My reverse list:", my_list)

 My reverse list: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Tuple

tup = (100, 200, 300,)
print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Access second-last element:
tup = ('red','green','blue','yellow')
print(tup[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [3]:
# finding the minimum number:

num = (10,20,5,15)
minimum_num = min(num)
print("The minimum number is:", minimum_num)

The minimum number is: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# Find the index:
tup = ('dag','cat','rabbit')
print(tup.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [5]:
# checking if kiwi in fruits list:

fruits = ("mango","apple","kiwi")
if "kiwi" in fruits:
  print("kiwi is in list:")
else:
  print("kiwi is not in list:")

kiwi is in list:

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [6]:
# Set method:

set = {'a','b','c'}
print(set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [15]:
# clear all elements.

set = {1,2,3,4,5}
set.clear()
print("Clear all elements:", set)

Clear all elements: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [13]:
#remove the element:
set = {1,2,3,4,}
set.remove(4)
print("Remove the element:", set)

Remove the element: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
# Union:
set1 = {1,2,3}
set2 = {3,4,5}
print("finding the union:", set1 | set2)

finding the union: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
# Intersection:

set1 = {1,2,3}
set2 = {2,3,4}
print("Intersection:", set1 & set2)

Intersection: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
# Dictionary:
dict = {
    "Name": "",
    "Age": "",
    "city": ""
}

print(dict)

{'Name': '', 'Age': '', 'city': ''}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
# key-value
dict = {
    "name": "John",
    "age": 25
}
dict["country"] = "USA"
print("Adding new key value:", dict)

Adding new key value: {'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [28]:
# key "name".
person = {'name':'Alice','Age':30}
value = person['name']
print(value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [36]:
# Removing key from dictionary:

my_dict = {'name':'Bob','age':22,'city':'New york'}
removed_value = my_dict.pop('age')
print("Dictionary after removing key 'age':", my_dict)

Dictionary after removing key 'age': {'name': 'Bob', 'city': 'New york'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [37]:
#check if the key "city" exists:
my_dict = {'name':'Alice','city':'Paris'}
if 'city' in my_dict:
  print("Key 'city' exists in the dictionary")
else:
  print("Key doesn't exists in the dictionary")

Key 'city' exists in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [38]:
#create a list
my_list = [10,20,30,40,50]

#create a tuple
my_tup = (5,15,20)

#create a dictionary
my_dict = {'Name':'Komal','Age':21}

print("List:", my_list)
print("Tuple:", my_list)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40, 50]
Tuple: [10, 20, 30, 40, 50]
Dictionary: {'Name': 'Komal', 'Age': 21}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [41]:
import random
#create a list of five random number between 1 and 100.
num = [random.randint(1,100) for _ in range(5)]

#short the list in ascending order
num.sort()

#print the result
print("Sorted number:", num)

Sorted number: [1, 22, 24, 36, 89]

28. Write a code to create a list with strings and print the element at the third index.

In [43]:
#create a list with strings
name = ["komal","satvik","megha","uttam","ritivik"]

#printing the element at thr thrid index.
print("Element at the thrid index:", name[3])

Element at the thrid index: uttam

29. Write a code to combine two dictionaries into one and print the result.

In [44]:
# combine the two dictionary
name1 = {"komal","satvik","megha","uttam","ritivik"}
name2 = {"uttam","ritivik","pooja","anuj"}
print("combine the name1 and name2 dictionary:", name1 | name2)

combine the name1 and name2 dictionary: {'uttam', 'komal', 'megha', 'pooja', 'ritivik', 'anuj', 'satvik'}

30. Write a code to convert a list of strings into a set.

In [55]:
# creating a list of string.
fruits_list = ["apple","banana","cherry","apple","kiwi"]

# converting list to set:
fruits_set = set(fruits_list)

# printing the set
print("Set:", fruits_set) # it will throw the error because set object is not callable

TypeError: 'set' object is not callable